extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    if errorMessage
        div.ui.error.message
            div.header There were some errors with your submission
            p #{errorMessage}
   
    h2.ui.header
        i.user.icon
        div.content #{pageTitle}
    div.ui.ui.divider

    div.container(style="width: 36rem; margin: 0 auto;") 
        form.ui.form(method="post" action="/new-password")
            div.field
                label Password
                input(type="password" name="password" placeholder="Please input your password")
                input(type="hidden", name="_csrf" value=`${csrfToken}`) 
                input(type="hidden", name="userId" value=`${userId}`)
                input(type="hidden", name="passwordToken" value=`${passwordToken}`) 

            button.ui.button.primary(type="submit") 
                span Update Password 
