extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    include ../layouts/error-message.pug

    h2.ui.header
        i.user.icon
        div.content #{pageTitle}
    div.ui.ui.divider

    div.container(style="width: 36rem; margin: 0 auto;") 
        form.ui.form(method="post" action="/signup")
            div.field(class=`${validationErrors.find(e => e.path === 'email') ? 'error' : ''}`)
                label Email
                input(type="text" name="email" placeholder="Please input your email"
                value=`${oldInput.email}`)
            div.field(class=`${validationErrors.find(e => e.path === 'password') ? 'error' : ''}`)
                label Password
                input(type="password" name="password" placeholder="Please input your password" 
                value=`${oldInput.password}`)
            div.field(class=`${validationErrors.find(e => e.path === 'confirmPassword') ? 'error' : ''}`)
                label Confirm Password
                input(type="password" name="confirmPassword" placeholder="Please confirm your password" 
                value=`${oldInput.confirmPassword}`)
                input(type="hidden", name="_csrf" value=`${csrfToken}`) 
            button.ui.button.primary(type="submit") 
                span SignUp